@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

:root {
    --background: #eee;
    --foreground: #171717;
    --primary: #0855c9;
    --primary-dark: #062758;
    --primary-light: #83b4ff;
    --red: #f54545;
    --green: #46f277;
    --print-green: #717610;
    --print-green-dark: #43460a;
    --print-yellow: #dfce61;
    --grey: #969696;
}

/* Max width: 375px */
html {
    background-image: url("/background.svg");
    background-size: 100px;
}

h1 {
    font-size: 25px;
    font-weight: 600;
}

h2 {
    font-size: 18px;
    font-weight: 500;
}

h3 {
    font-size: 16px;
    font-weight: 400;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
}

nav {
    position: absolute;
    z-index: 100;
    width: 100%;

    li {
        a {
            display: block;
            width: 100%;
            color: white;
            text-align: center;
            padding-block: 10px;

            &:hover {
                background-color: var(--primary-dark);
                text-decoration: underline;
            }
        }
        border-block: 1px solid var(--primary-dark);

        &:first-of-type {
            border-top: 2px;
        }

        &:last-of-type {
            border-bottom: 2px;
        }
    }
}

main {
    margin: 30px 10px;
}

div[data-slot="input-wrapper"],
button[data-slot="trigger"] {
    margin-block: 5px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 2px solid #808080;
}

button.trash:hover svg path {
    stroke: white;
}
.button-red {
    background-color: var(--red);
    width: 100%;
    font-size: 18px;
    color: white;
}
.button-green {
    background-color: var(--green);
    width: 100%;
    font-size: 18px;
}

.item-image-button {
    background: rgba(70, 70, 70, 0.726);
    color: white;
    font-size: 16px;
    width: 100%;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
}

.cart-item {
    display: grid;
    grid-template-columns: 1fr 3fr 40px;
    gap: 5px;
    border-bottom: 2px solid var(--primary);
    margin: 5px;
    padding: 10px;

    .item-details {
        div:nth-child(3) {
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 15px;
            align-items: center;
        }
    }
}

.order-items {
    display: flex;
}

.order-card {
    border-bottom: 2px solid var(--primary);
    padding: 5px;
    margin-block: 5px;
}

.order-card:hover {
    .date {
        text-decoration: underline;
    }
}

@media print {
    @page {
        size: A4;
    }
    .no-print,
    .no-print * {
        display: none !important;
    }
}

/* Max width: 425px */
@media only screen and (min-width: 376px) {
    html {
        background-size: 115px;
    }

    .cart-item {
        .item-details > div {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 15px;
        }
    }
}

/* Max width: ~px */
@media only screen and (min-width: 426px) {
    html {
        background-size: 150px;
    }
    .cart-item {
        .item-details > div {
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 15px;
        }
    }
}
