@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

:root {
    --background: #eee;
    --foreground: #171717;
    --primary: #0855c9;
    --primary-dark: #062758;
}

/* Max width: 375px */
html {
    background-image: url("/background.svg");
    background-size: 100px;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
}

nav {
    position: absolute;
    z-index: 100;
    width: 100%;

    li {
        a {
            display: block;
            width: 100%;
            color: white;
            text-align: center;
            padding-block: 10px;

            &:hover {
                background-color: var(--primary-dark);
                text-decoration: underline;
            }
        }
        border-block: 1px solid var(--primary-dark);

        &:first-of-type {
            border-top: 2px;
        }

        &:last-of-type {
            border-bottom: 2px;
        }
    }
}

/* Max width: 425px */
@media only screen and (min-width: 376px) {
    html {
        background-size: 115px;
    }
}

/* Max width: ~px */
@media only screen and (min-width: 426px) {
    html {
        background-size: 150px;
    }
}
